one-time-examples/omg-bpmn-model-interchange-demos/loan-request-handling/src/main/resources/mibankws.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://mibankws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mibankws/">

<xs:element name="applyTransationOnAccount" type="tns:applyTransationOnAccount"></xs:element>

<xs:element name="applyTransationOnAccountResponse" type="tns:applyTransationOnAccountResponse"></xs:element>

<xs:complexType name="applyTransationOnAccount">
<xs:sequence>
<xs:element name="AccountRef" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="TransactionAmount" type="xs:double"></xs:element>
<xs:element name="AccountBalance" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="applyTransationOnAccountResponse">
<xs:sequence>
<xs:element name="NewAccountBalance" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>